{
  "openapi": "3.1.0",
  "info": {
    "title": "SendyKit API",
    "version": "2.1.0-draft",
    "description": "Canonical API contract for SendyKit v2.\n\nStatus tags on operations:\n- x-status: live\n- x-status: partial\n- x-status: planned\n\nPayment model:\n- Stripe machine payments are the current machine-paid action mechanism.\n- x402 compatibility is roadmap/future mode.\n",
    "summary": "Sendy-compatible email operations API with SendyKit exoskeleton, SaaS controls, readiness evaluation, and machine-paid premium actions.",
    "contact": {
      "name": "SendyKit",
      "url": "https://sendykit.dev",
      "email": "support@sendykit.dev"
    },
    "license": {
      "name": "Commercial / source-available components as licensed",
      "url": "https://sendykit.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.sendykit.dev/sendykit/api/v2",
      "description": "Production"
    },
    {
      "url": "http://localhost:8082/sendykit/api/v2",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "Core",
      "description": "Core compatibility surfaces."
    },
    {
      "name": "Campaigns",
      "description": "Campaign CRUD, delivery actions, and campaign-level reporting."
    },
    {
      "name": "Analytics",
      "description": "Reporting, dashboards, exports, and recommendation endpoints."
    },
    {
      "name": "Webhooks",
      "description": "Outbound webhook subscriptions and manual trigger/testing."
    },
    {
      "name": "AI",
      "description": "AI-assisted authoring, summaries, and marketing intelligence."
    },
    {
      "name": "Sequences",
      "description": "Lifecycle automation sequences, steps, enrollments, and goals."
    },
    {
      "name": "Funnels",
      "description": "Funnel CRUD and funnel analytics surfaces."
    },
    {
      "name": "Tags",
      "description": "Tag CRUD plus subscriber-tag relationships."
    },
    {
      "name": "Goals",
      "description": "Goal tracking events."
    },
    {
      "name": "Exa",
      "description": "Exa-powered research, search, and content retrieval integration."
    },
    {
      "name": "Instantly",
      "description": "Instantly integration settings, sync, compliance, and webhooks."
    },
    {
      "name": "Automations",
      "description": "Approval-oriented automation runs and workflow objects."
    },
    {
      "name": "Auth",
      "description": "Token issuance and auth-adjacent entrypoints."
    },
    {
      "name": "Brands",
      "description": "Sendy app/brand identity and reusable content scope."
    },
    {
      "name": "Lists",
      "description": "Sendy lists and custom-field discovery endpoints."
    },
    {
      "name": "Subscribers",
      "description": "Subscriber CRUD, status transitions, bulk operations, imports, and lookup."
    },
    {
      "name": "Templates",
      "description": "Email template CRUD, duplication, preview, and brand-scoped blocks."
    },
    {
      "name": "Assets",
      "description": "Managed media uploads for the editor and templating layer."
    },
    {
      "name": "Billing",
      "description": "Plan catalog, tenant usage, receipts, payments, and Stripe webhooks."
    },
    {
      "name": "System",
      "description": "Operator endpoints for runtime inspection, rollout, migration, DLQ, and transport."
    },
    {
      "name": "Health",
      "description": "Doctor-style health scans and remediation history."
    },
    {
      "name": "Settings",
      "description": "Feature-flag driven platform settings and registry metadata."
    },
    {
      "name": "Audit",
      "description": "Audit trail listing and purge endpoints."
    },
    {
      "name": "Readiness",
      "description": "Readiness evaluation, report retrieval, and inboarding recommendations."
    },
    {
      "name": "Tenants",
      "description": "SaaS tenant CRUD, API keys, and usage views."
    },
    {
      "name": "Suppressions",
      "description": "Suppression checks and writes."
    },
    {
      "name": "Queue",
      "description": "Queue inspection and immediate processing."
    },
    {
      "name": "Segments",
      "description": "Segments, conditions, and refresh views."
    },
    {
      "name": "Rules",
      "description": "Sendy rules and logs."
    },
    {
      "name": "Autoresponders",
      "description": "Legacy autoresponder inspection and email toggles."
    },
    {
      "name": "Bridge",
      "description": "Simplified automation bridge for external systems."
    },
    {
      "name": "Integrations",
      "description": "Cross-system integration support surfaces."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "JwtAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "StripeMachinePayment": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Stripe-Machine-Payment"
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Required for send/enroll/trigger endpoints. 24h dedupe window."
      },
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "description": "1-indexed page number."
      },
      "PerPage": {
        "name": "per_page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 25
        },
        "description": "Items per page."
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "default": 50
        },
        "description": "Maximum number of records to return."
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        },
        "description": "Offset into result set."
      },
      "BrandIDQuery": {
        "name": "brand_id",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Brand/app identifier."
      },
      "ListIDQuery": {
        "name": "list_id",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "List identifier."
      },
      "EmailQuery": {
        "name": "email",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "format": "email"
        },
        "description": "Email address filter or lookup target."
      },
      "TenantIDQuery": {
        "name": "tenant_id",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Tenant identifier."
      },
      "StatusQuery": {
        "name": "status",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Status filter."
      },
      "SinceQuery": {
        "name": "since",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Relative duration or RFC3339 timestamp, depending on endpoint."
      },
      "Id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Numeric resource identifier."
      },
      "TenantID": {
        "name": "tenantId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Tenant identifier."
      },
      "ReportID": {
        "name": "reportId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Readiness report identifier."
      },
      "StepID": {
        "name": "stepId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Sequence step identifier."
      },
      "EnrollmentID": {
        "name": "enrollmentId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Sequence enrollment identifier."
      },
      "EmailID": {
        "name": "emailId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Autoresponder email identifier."
      },
      "JobID": {
        "name": "jobId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Outbound transport apply job identifier."
      },
      "Resource": {
        "name": "resource",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Audit resource name."
      },
      "ResourceID": {
        "name": "resourceId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Audit resource identifier."
      }
    },
    "schemas": {
      "Envelope": {
        "type": "object",
        "properties": {
          "data": {},
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ],
        "description": "Standard SendyKit response wrapper. Most successful responses place the primary payload in `data` and optional metadata in `meta`."
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "description": "Standard error payload returned by SendyKit handlers.",
        "example": {
          "error": "tenant_id required",
          "code": "invalid"
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "report_id": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "AuthTokenRequest": {
        "type": "object",
        "properties": {
          "api_key": {
            "type": "string"
          }
        },
        "required": [
          "api_key"
        ],
        "description": "Exchange an API key for a 24-hour JWT."
      },
      "AuthTokenData": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "required": [
          "token"
        ],
        "description": "Issued JWT token.",
        "example": {
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        }
      },
      "StatusObject": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "status": {
            "type": "string"
          },
          "deleted": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "additionalProperties": true
      },
      "Brand": {
        "type": "object",
        "description": "Sendy app/brand identity used for sender defaults and content scoping.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 7
          },
          "name": {
            "type": "string",
            "example": "Flagship SaaS"
          },
          "from_name": {
            "type": "string",
            "example": "SendyKit"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "hello@sendykit.dev"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "example": "support@sendykit.dev"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T01:15:00Z"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": true
      },
      "List": {
        "type": "object",
        "description": "Sendy list record.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 21
          },
          "name": {
            "type": "string",
            "example": "Product updates"
          },
          "app_id": {
            "type": "integer",
            "example": 7
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "subscriber_count": {
            "type": "integer",
            "example": 12842
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": true
      },
      "Subscriber": {
        "type": "object",
        "description": "Subscriber record with Sendy-compatible status fields.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1042
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane@example.com"
          },
          "name": {
            "type": "string",
            "example": "Jane Doe"
          },
          "list_id": {
            "type": "integer",
            "example": 21
          },
          "confirmed": {
            "type": "integer",
            "example": 1
          },
          "unsubscribed": {
            "type": "integer",
            "example": 0
          },
          "status": {
            "type": "string",
            "example": "confirmed"
          },
          "bounced": {
            "type": "integer",
            "example": 0
          },
          "bounce_soft": {
            "type": "integer",
            "example": 0
          },
          "complaint": {
            "type": "integer",
            "example": 0
          },
          "custom_fields": {
            "type": "string",
            "example": "{\"company\":\"Acme\"}"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "ip": {
            "type": "string",
            "example": "203.0.113.42"
          },
          "referrer": {
            "type": "string",
            "example": "https://sendykit.dev"
          },
          "timestamp": {
            "type": "integer",
            "example": 1710370980
          },
          "join_date": {
            "type": "integer",
            "example": 1710370980
          },
          "last_campaign": {
            "type": "integer",
            "example": 88
          }
        },
        "required": [
          "id",
          "email",
          "list_id"
        ],
        "additionalProperties": true
      },
      "Campaign": {
        "type": "object",
        "description": "Campaign record backed by Sendy campaign tables and SendyKit overlays.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 88
          },
          "app_id": {
            "type": "integer",
            "example": 7
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "title": {
            "type": "string",
            "example": "Launch week announcement"
          },
          "label": {
            "type": "string",
            "example": "launch-week"
          },
          "subject": {
            "type": "string",
            "example": "SendyKit launch week is live"
          },
          "sent": {
            "type": "string",
            "example": "0"
          },
          "status": {
            "type": "string",
            "example": "draft"
          },
          "from_name": {
            "type": "string",
            "example": "SendyKit"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "hello@sendykit.dev"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "example": "support@sendykit.dev"
          },
          "html": {
            "type": "string",
            "example": "<h1>Launch week</h1><p>We are live.</p>"
          },
          "plain_text": {
            "type": "string",
            "example": "Launch week\n\nWe are live."
          },
          "lists": {
            "type": "string",
            "example": "21,22"
          },
          "send_date": {
            "type": "string",
            "example": "2026-03-20 16:00:00"
          },
          "timezone": {
            "type": "string",
            "example": "America/Los_Angeles"
          },
          "recipients": {
            "type": "integer",
            "example": 12842
          },
          "to_send": {
            "type": "integer",
            "example": 12842
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": true
      },
      "Template": {
        "type": "object",
        "description": "Email template object with HTML, plain text, and optional GrapeJS document.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 14
          },
          "name": {
            "type": "string",
            "example": "Launch email base"
          },
          "html": {
            "type": "string",
            "example": "<h1>Hello {{fname}}</h1>"
          },
          "grapejs_data": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "assets": [],
              "styles": []
            }
          },
          "plain_text": {
            "type": "string",
            "example": "Hello {{fname}}"
          },
          "app_id": {
            "type": "integer",
            "example": 7
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "from_name": {
            "type": "string",
            "example": "SendyKit"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "hello@sendykit.dev"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "example": "support@sendykit.dev"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": true
      },
      "Webhook": {
        "type": "object",
        "description": "Outbound webhook subscription.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 9
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://ops.example.com/sendykit/webhooks"
          },
          "secret": {
            "type": "string",
            "example": "whsec_abc123"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "campaign.sent",
              "subscriber.unsubscribed"
            ]
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          }
        },
        "required": [
          "id",
          "url",
          "events",
          "active"
        ],
        "additionalProperties": true
      },
      "FeatureFlag": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "default": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Tenant": {
        "type": "object",
        "description": "SaaS tenant record.",
        "properties": {
          "id": {
            "type": "string",
            "example": "tenant_01HZX8V4N5"
          },
          "name": {
            "type": "string",
            "example": "Acme Growth"
          },
          "slug": {
            "type": "string",
            "example": "acme-growth"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "owner@acme.test"
          },
          "status": {
            "type": "string",
            "example": "trial"
          },
          "plan": {
            "type": "string",
            "example": "growth"
          },
          "edd_customer_id": {
            "type": "string",
            "example": "edd_cus_123"
          },
          "stripe_customer_id": {
            "type": "string",
            "example": "cus_Q2abc123"
          },
          "stripe_subscription_id": {
            "type": "string",
            "example": "sub_Q2abc123"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "source": "launch"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:05:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:05:00Z"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "email",
          "status",
          "plan"
        ],
        "additionalProperties": true
      },
      "ReadinessEvaluateRequest": {
        "type": "object",
        "description": "Readiness evaluation questionnaire / scan payload.",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "questionnaire",
              "local_scan",
              "hybrid"
            ],
            "example": "questionnaire"
          },
          "technical": {
            "type": "object",
            "properties": {
              "compatibility": {
                "type": "integer",
                "example": 8
              },
              "database": {
                "type": "integer",
                "example": 8
              },
              "runtime": {
                "type": "integer",
                "example": 7
              },
              "cron": {
                "type": "integer",
                "example": 7
              },
              "dns": {
                "type": "integer",
                "example": 6
              },
              "transport": {
                "type": "integer",
                "example": 7
              },
              "filesystem": {
                "type": "integer",
                "example": 8
              },
              "security": {
                "type": "integer",
                "example": 7
              }
            },
            "additionalProperties": true
          },
          "commercial": {
            "type": "object",
            "properties": {
              "ownership_preference": {
                "type": "integer",
                "example": 9
              },
              "managed_preference": {
                "type": "integer",
                "example": 4
              },
              "ops_tolerance": {
                "type": "integer",
                "example": 7
              },
              "budget_sensitivity": {
                "type": "integer",
                "example": 5
              },
              "future_certainty": {
                "type": "integer",
                "example": 7
              },
              "planned_connected_sites": {
                "type": "integer",
                "example": 12
              },
              "planned_site_activations": {
                "type": "integer",
                "example": 6
              },
              "planned_subscribers": {
                "type": "integer",
                "example": 250000
              },
              "planned_emails_per_month": {
                "type": "integer",
                "example": 2000000
              },
              "planned_api_calls_per_month": {
                "type": "integer",
                "example": 500000
              },
              "needs_ai": {
                "type": "boolean",
                "example": true
              },
              "needs_automations": {
                "type": "boolean",
                "example": true
              },
              "needs_white_label": {
                "type": "boolean",
                "example": false
              },
              "needs_custom_domain": {
                "type": "boolean",
                "example": true
              },
              "needs_sso": {
                "type": "boolean",
                "example": false
              },
              "needs_sla": {
                "type": "boolean",
                "example": false
              },
              "needs_dedicated_ip": {
                "type": "boolean",
                "example": false
              }
            },
            "additionalProperties": true
          },
          "findings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "example": "dns"
                },
                "severity": {
                  "type": "string",
                  "enum": [
                    "blocker",
                    "warning",
                    "info",
                    "pass"
                  ],
                  "example": "warning"
                },
                "code": {
                  "type": "string",
                  "example": "spf_missing"
                },
                "title": {
                  "type": "string",
                  "example": "SPF record missing"
                },
                "detail": {
                  "type": "string",
                  "example": "No SPF record detected for the sender domain."
                },
                "docs_url": {
                  "type": "string",
                  "example": "https://docs.sendykit.dev/readiness/doctor"
                },
                "fix_command": {
                  "type": "string",
                  "example": "Add SPF TXT record in DNS"
                }
              },
              "required": [
                "category",
                "severity",
                "code",
                "title"
              ]
            }
          },
          "evaluated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:00:00Z"
          }
        },
        "required": [
          "mode",
          "technical",
          "commercial"
        ],
        "additionalProperties": true
      },
      "ReadinessReport": {
        "type": "object",
        "properties": {
          "evaluated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:00:00Z"
          },
          "mode": {
            "type": "string",
            "example": "questionnaire"
          },
          "score": {
            "type": "integer",
            "example": 82
          },
          "grade": {
            "type": "string",
            "example": "ready_with_warnings"
          },
          "dimensions": {
            "type": "object",
            "properties": {
              "technical": {
                "type": "integer",
                "example": 79
              },
              "commercial_fit": {
                "type": "integer",
                "example": 85
              },
              "self_hosted_fit": {
                "type": "integer",
                "example": 88
              },
              "saas_fit": {
                "type": "integer",
                "example": 62
              },
              "enterprise_fit": {
                "type": "integer",
                "example": 41
              }
            },
            "additionalProperties": true
          },
          "commercial_fit": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "recommended_model": "self_hosted",
              "recommended_plan": "growth",
              "confidence": 0.86,
              "reasons": [
                "Strong ownership preference",
                "Ops tolerance is sufficient"
              ]
            }
          },
          "risk": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "migration": "medium",
              "operational": "medium",
              "deliverability": "low"
            }
          },
          "findings": {
            "type": "object",
            "additionalProperties": true
          },
          "inboarding": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "mode": "self_hosted_fix_then_install",
              "title": "Fix DNS and cron before launch",
              "docs": [
                "https://docs.sendykit.dev/readiness/doctor"
              ],
              "commands": [
                "sendykit doctor"
              ],
              "steps": [
                "Fix SPF",
                "Verify cron"
              ],
              "cta": {
                "label": "Open docs",
                "url": "https://docs.sendykit.dev/readiness/doctor"
              }
            }
          }
        },
        "required": [
          "evaluated_at",
          "mode",
          "score",
          "grade",
          "dimensions",
          "commercial_fit",
          "risk",
          "findings",
          "inboarding"
        ],
        "additionalProperties": true
      },
      "BillingStatus": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          },
          "sendy": {
            "type": "object",
            "additionalProperties": true
          },
          "features": {
            "type": "object",
            "additionalProperties": true
          },
          "usage_context": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "checklist": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "insights": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "revenue": {
            "type": "object",
            "additionalProperties": true
          },
          "recent_payments": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "plans_count": {
            "type": "integer"
          }
        },
        "additionalProperties": true,
        "description": "Cross-system billing intelligence summary."
      },
      "DoctorReport": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "additionalProperties": true
          },
          "checks": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "fixes": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true,
        "description": "Health doctor report with summary, checks, and optional fixes."
      },
      "Sequence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "brand_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "trigger_type": {
            "type": "string"
          },
          "trigger_config": {
            "type": "object",
            "additionalProperties": true
          },
          "goal_type": {
            "type": "string"
          },
          "goal_config": {
            "type": "object",
            "additionalProperties": true
          },
          "goal_action": {
            "type": "string"
          },
          "settings": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "SequenceStep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sequence_id": {
            "type": "integer"
          },
          "step_type": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "SequenceEnrollment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sequence_id": {
            "type": "integer"
          },
          "subscriber_id": {
            "type": "integer"
          },
          "subscriber_email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "string"
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "list_id": {
            "type": "integer"
          },
          "app_id": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "Rule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "list_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "Autoresponder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "list_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "type_name": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ExaSettings": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "api_key": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "allow_domains": {
            "type": "string"
          },
          "deny_domains": {
            "type": "string"
          },
          "fresh_days": {
            "type": "integer"
          },
          "min_sources": {
            "type": "integer"
          },
          "min_confidence": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "InstantlySettings": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "api_key": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "webhook_secret": {
            "type": "string"
          },
          "webhook_signature_header": {
            "type": "string"
          },
          "interested_list_id": {
            "type": "integer"
          },
          "meeting_booked_list_id": {
            "type": "integer"
          },
          "customer_list_id": {
            "type": "integer"
          },
          "suppress_on_bounce": {
            "type": "boolean"
          },
          "enrichment_allowlist": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "SMTPApplyJob": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string"
          },
          "job_type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          },
          "dry_run": {
            "type": "boolean"
          },
          "set_mode_for_all": {
            "type": "boolean"
          },
          "resume_of": {
            "type": "string"
          },
          "rollback_of": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "started_at": {
            "type": "string"
          },
          "finished_at": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "applied": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "skipped": {
            "type": "integer"
          },
          "brand_results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "SMTPBounceSettings": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "soft_threshold": {
            "type": "integer"
          },
          "complaint_sets_unsubscribed": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "BridgeSequenceRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "sequence_id": {
            "type": "integer"
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "email",
          "sequence_id"
        ],
        "additionalProperties": true
      },
      "BrandUpsertRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Required by PUT /brands in compatibility mode.",
            "example": 7
          },
          "name": {
            "type": "string",
            "example": "Flagship SaaS"
          },
          "from_name": {
            "type": "string",
            "example": "SendyKit"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "hello@sendykit.dev"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "example": "support@sendykit.dev"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": true
      },
      "ListCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Product updates"
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "app_id": {
            "type": "integer",
            "example": 7
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": true
      },
      "SubscriberCreateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane@example.com"
          },
          "name": {
            "type": "string",
            "example": "Jane Doe"
          },
          "list_id": {
            "type": "integer",
            "example": 21
          },
          "custom_fields": {
            "oneOf": [
              {
                "type": "string",
                "example": "{\"company\":\"Acme\",\"plan\":\"growth\"}"
              },
              {
                "type": "object",
                "additionalProperties": true,
                "example": {
                  "company": "Acme",
                  "plan": "growth"
                }
              }
            ]
          }
        },
        "required": [
          "email",
          "list_id"
        ],
        "additionalProperties": true
      },
      "SubscriberBulkRequest": {
        "type": "object",
        "properties": {
          "list_id": {
            "type": "integer",
            "example": 21
          },
          "subscribers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriberCreateRequest"
            },
            "example": [
              {
                "email": "jane@example.com",
                "name": "Jane Doe"
              },
              {
                "email": "sam@example.com",
                "name": "Sam Rivera"
              }
            ]
          }
        },
        "required": [
          "list_id",
          "subscribers"
        ],
        "additionalProperties": true
      },
      "CampaignCreateRequest": {
        "type": "object",
        "properties": {
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "app_id": {
            "type": "integer",
            "example": 7
          },
          "title": {
            "type": "string",
            "example": "Launch week announcement"
          },
          "subject": {
            "type": "string",
            "example": "SendyKit launch week is live"
          },
          "html": {
            "type": "string",
            "example": "<h1>Launch week</h1><p>We are live.</p>"
          },
          "plain_text": {
            "type": "string",
            "example": "Launch week\n\nWe are live."
          },
          "lists": {
            "oneOf": [
              {
                "type": "string",
                "example": "21,22"
              },
              {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "example": [
                  21,
                  22
                ]
              }
            ]
          },
          "from_name": {
            "type": "string",
            "example": "SendyKit"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "hello@sendykit.dev"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "example": "support@sendykit.dev"
          },
          "send_date": {
            "type": "string",
            "example": "2026-03-20 16:00:00"
          },
          "timezone": {
            "type": "string",
            "example": "America/Los_Angeles"
          }
        },
        "additionalProperties": true
      },
      "CampaignBulkActionRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "send",
              "pause",
              "resume",
              "cancel"
            ],
            "example": "pause"
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              88,
              89,
              90
            ]
          }
        },
        "required": [
          "action",
          "ids"
        ]
      },
      "TemplateUpsertRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Launch email base"
          },
          "html": {
            "type": "string",
            "example": "<h1>Hello {{fname}}</h1>"
          },
          "grapejs_data": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "assets": [],
              "styles": []
            }
          },
          "plain_text": {
            "type": "string",
            "example": "Hello {{fname}}"
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "from_name": {
            "type": "string",
            "example": "SendyKit"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "hello@sendykit.dev"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "example": "support@sendykit.dev"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": true
      },
      "WebhookCreateRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://ops.example.com/sendykit/webhooks"
          },
          "secret": {
            "type": "string",
            "example": "whsec_abc123"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "campaign.sent",
              "subscriber.unsubscribed"
            ]
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          }
        },
        "required": [
          "url",
          "events"
        ]
      },
      "TenantCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Acme Growth"
          },
          "slug": {
            "type": "string",
            "example": "acme-growth"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "owner@acme.test"
          },
          "plan": {
            "type": "string",
            "example": "growth"
          }
        },
        "required": [
          "name",
          "email"
        ],
        "additionalProperties": true
      },
      "TenantKeyCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "automation-worker"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "read",
              "write"
            ]
          },
          "rate_limit_rpm": {
            "type": "integer",
            "example": 120
          }
        },
        "additionalProperties": true
      },
      "Payment": {
        "type": "object",
        "description": "Campaign payment record.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 52
          },
          "campaign_id": {
            "type": "integer",
            "example": 88
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "user_id": {
            "type": "integer",
            "example": 1
          },
          "tenant_id": {
            "type": "string",
            "example": "tenant_01HZX8V4N5"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "example": 49.0
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "gateway": {
            "type": "string",
            "example": "stripe"
          },
          "gateway_session_id": {
            "type": "string",
            "example": "cs_test_abc123"
          },
          "payment_token": {
            "type": "string",
            "example": "ZXlKcGJtY2lPaUpJVXpJMU5pSjkuLi4="
          },
          "token_consumed": {
            "type": "boolean",
            "example": true
          },
          "status": {
            "type": "string",
            "example": "completed"
          },
          "error_message": {
            "type": "string",
            "example": ""
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:15:00Z"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:16:00Z"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:30:00Z"
          }
        },
        "required": [
          "id",
          "campaign_id",
          "amount",
          "currency",
          "status"
        ],
        "additionalProperties": true
      },
      "MachinePaymentReceipt": {
        "type": "object",
        "description": "Machine-payment receipt record; legacy x402 naming may still appear in older code/docs.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 801
          },
          "request_path": {
            "type": "string",
            "example": "/sendykit/api/v2/exa/research"
          },
          "request_method": {
            "type": "string",
            "example": "POST"
          },
          "price_usdc": {
            "type": "number",
            "format": "float",
            "example": 0.25
          },
          "payer_address": {
            "type": "string",
            "example": "0x1234abcd5678ef90"
          },
          "network": {
            "type": "string",
            "example": "base"
          },
          "settlement_tx": {
            "type": "string",
            "example": "0xbeefcafe1234"
          },
          "facilitator_response": {
            "type": "string",
            "example": "{\"status\":\"settled\"}"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:20:00Z"
          }
        },
        "required": [
          "id",
          "request_path",
          "request_method",
          "price_usdc",
          "created_at"
        ],
        "additionalProperties": true
      },
      "AuthTokenEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AuthTokenData"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ],
        "example": {
          "data": {
            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        }
      },
      "BrandEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Brand"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "BrandListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Brand"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "ListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/List"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "ListListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/List"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "SubscriberEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Subscriber"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "SubscriberListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscriber"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "CampaignEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Campaign"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "CampaignListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "TemplateEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Template"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "TemplateListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "WebhookEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Webhook"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "WebhookListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "TenantEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Tenant"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "TenantListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tenant"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "PaymentListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "MachinePaymentReceiptEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "receipts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MachinePaymentReceipt"
                }
              },
              "total_usdc": {
                "type": "number"
              },
              "since": {
                "type": "string",
                "format": "date-time"
              },
              "receipt_count": {
                "type": "integer"
              }
            },
            "required": [
              "receipts",
              "total_usdc",
              "receipt_count"
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "BillingStatusEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BillingStatus"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "ReadinessReportEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ReadinessReport"
          },
          "meta": {
            "type": "object",
            "properties": {
              "report_id": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        },
        "required": [
          "data"
        ]
      },
      "DoctorReportEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DoctorReport"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid authentication",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "Forbidden": {
        "description": "Authenticated but not permitted",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "PaymentRequired": {
        "description": "Machine payment required for premium action",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "Conflict": {
        "description": "Request conflicts with current state",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "InternalError": {
        "description": "Unexpected server-side error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "RateLimited": {
        "description": "Request was rate limited.",
        "headers": {
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rate_limited": {
                "value": {
                  "error": "rate limit exceeded",
                  "code": "rate_limited"
                }
              }
            }
          }
        }
      }
    },
    "examples": {
      "AuthTokenRequest": {
        "value": {
          "api_key": "sk_live_1234567890"
        }
      },
      "AuthTokenResponse": {
        "value": {
          "data": {
            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        }
      },
      "BrandCreateRequest": {
        "value": {
          "name": "Flagship SaaS",
          "from_name": "SendyKit",
          "from_email": "hello@sendykit.dev",
          "reply_to": "support@sendykit.dev"
        }
      },
      "BrandListResponse": {
        "value": {
          "data": [
            {
              "id": 7,
              "name": "Flagship SaaS",
              "from_name": "SendyKit",
              "from_email": "hello@sendykit.dev",
              "reply_to": "support@sendykit.dev"
            }
          ]
        }
      },
      "SubscriberCreateRequest": {
        "value": {
          "email": "jane@example.com",
          "name": "Jane Doe",
          "list_id": 21,
          "custom_fields": {
            "company": "Acme",
            "plan": "growth"
          }
        }
      },
      "CampaignCreateRequest": {
        "value": {
          "brand_id": 7,
          "title": "Launch week announcement",
          "subject": "SendyKit launch week is live",
          "html": "<h1>Launch week</h1><p>We are live.</p>",
          "plain_text": "Launch week\n\nWe are live.",
          "lists": [
            21,
            22
          ]
        }
      },
      "TemplateCreateRequest": {
        "value": {
          "name": "Launch email base",
          "brand_id": 7,
          "html": "<h1>Hello {{fname}}</h1>",
          "plain_text": "Hello {{fname}}"
        }
      },
      "WebhookCreateRequest": {
        "value": {
          "url": "https://ops.example.com/sendykit/webhooks",
          "secret": "whsec_abc123",
          "events": [
            "campaign.sent",
            "subscriber.unsubscribed"
          ],
          "brand_id": 7
        }
      },
      "TenantCreateRequest": {
        "value": {
          "name": "Acme Growth",
          "slug": "acme-growth",
          "email": "owner@acme.test",
          "plan": "growth"
        }
      },
      "ReadinessEvaluateRequest": {
        "value": {
          "mode": "questionnaire",
          "technical": {
            "compatibility": 8,
            "database": 8,
            "runtime": 7,
            "cron": 7,
            "dns": 6,
            "transport": 7,
            "filesystem": 8,
            "security": 7
          },
          "commercial": {
            "ownership_preference": 9,
            "managed_preference": 4,
            "ops_tolerance": 7,
            "budget_sensitivity": 5,
            "future_certainty": 7,
            "planned_connected_sites": 12,
            "planned_site_activations": 6,
            "planned_subscribers": 250000,
            "planned_emails_per_month": 2000000,
            "planned_api_calls_per_month": 500000,
            "needs_ai": true,
            "needs_automations": true,
            "needs_custom_domain": true
          }
        }
      },
      "BillingStatusResponse": {
        "value": {
          "data": {
            "mode": "stripe_enabled",
            "mode_label": "Stripe enabled, enforcement off",
            "config": {
              "stripe": true,
              "payment_gateway": true,
              "webhook": true,
              "enforcement": false
            },
            "sendy": {
              "subscribers": 24000,
              "campaigns": 312,
              "brands": 4,
              "sub_users": 2
            },
            "plans_count": 4
          }
        }
      },
      "MachinePaymentReceiptResponse": {
        "value": {
          "data": {
            "receipts": [
              {
                "id": 801,
                "request_path": "/sendykit/api/v2/exa/research",
                "request_method": "POST",
                "price_usdc": 0.25,
                "payer_address": "0x1234abcd5678ef90",
                "network": "base",
                "settlement_tx": "0xbeefcafe1234",
                "created_at": "2026-03-14T02:20:00Z"
              }
            ],
            "total_usdc": 2.75,
            "receipt_count": 11
          }
        }
      },
      "ErrorInvalid": {
        "value": {
          "error": "list_id query param required",
          "code": "invalid"
        }
      }
    },
    "headers": {
      "RateLimit-Limit": {
        "description": "Maximum requests permitted in the current rate-limit window.",
        "schema": {
          "type": "integer",
          "example": 60
        }
      },
      "RateLimit-Remaining": {
        "description": "Requests remaining in the current window.",
        "schema": {
          "type": "integer",
          "example": 59
        }
      },
      "RateLimit-Reset": {
        "description": "Unix timestamp when the current rate-limit window resets.",
        "schema": {
          "type": "integer",
          "example": 1731000060
        }
      },
      "X-Request-ID": {
        "description": "Opaque request identifier for tracing and support.",
        "schema": {
          "type": "string",
          "example": "req_01J8R5H8XYZ"
        }
      }
    }
  },
  "paths": {
    "/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign by ID",
        "operationId": "getCampaign",
        "x-status": "live",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Get campaign by ID. Current contract status: live."
      }
    },
    "/campaigns/{id}/send": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Mark campaign for immediate send",
        "operationId": "sendCampaignNow",
        "x-status": "live",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Send accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Mark campaign for immediate send. Current contract status: live."
      }
    },
    "/campaigns/{id}/schedule": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Schedule campaign send",
        "operationId": "scheduleCampaign",
        "x-status": "live",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Schedule campaign send. Current contract status: live."
      }
    },
    "/campaigns/{id}/test": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Send test emails",
        "operationId": "testCampaign",
        "x-status": "live",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Test send results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Send test emails. Current contract status: live."
      }
    },
    "/analytics/campaign": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Campaign analytics report",
        "operationId": "campaignAnalytics",
        "x-status": "live",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Campaign analytics report. Current contract status: live."
      }
    },
    "/analytics/list": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "List analytics report",
        "operationId": "listAnalytics",
        "x-status": "live",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "List analytics report. Current contract status: live."
      }
    },
    "/analytics/summary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Aggregated baseline analytics",
        "operationId": "analyticsSummary",
        "x-status": "planned",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Summary payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Aggregated baseline analytics. Current contract status: planned."
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhook subscriptions",
        "operationId": "listWebhooks",
        "x-status": "live",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List webhook subscriptions. Current contract status: live."
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook subscription",
        "operationId": "createWebhook",
        "x-status": "live",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Create webhook subscription. Current contract status: live.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/WebhookCreateRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook subscription",
        "operationId": "deleteWebhook",
        "x-status": "live",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Delete webhook subscription. Current contract status: live."
      }
    },
    "/webhooks/events": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List registered trigger events",
        "operationId": "listTriggerEvents",
        "x-status": "planned",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Events list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "List registered trigger events. Current contract status: planned."
      }
    },
    "/webhooks/trigger": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Trigger machine action event",
        "operationId": "triggerEvent",
        "x-status": "planned",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StripeMachinePayment": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "description": "Trigger machine action event. Current contract status: planned."
      }
    },
    "/ai/models": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "List available AI models",
        "operationId": "listAiModels",
        "x-status": "planned",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "List available AI models. Current contract status: planned."
      }
    },
    "/ai/usage": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "AI usage and cost report",
        "operationId": "aiUsage",
        "x-status": "planned",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "AI usage and cost report. Current contract status: planned."
      }
    },
    "/ai/subject-lines": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Generate subject line variants",
        "operationId": "aiSubjectLines",
        "x-status": "planned",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StripeMachinePayment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Variants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "description": "Generate subject line variants. Current contract status: planned.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "topic": {
                    "type": "string"
                  },
                  "context": {
                    "type": "string"
                  },
                  "count": {
                    "type": "integer"
                  },
                  "temperature": {
                    "type": "number"
                  }
                },
                "required": [
                  "topic"
                ],
                "example": {
                  "topic": "Product launch follow-up",
                  "context": "Audience: active trial users",
                  "count": 5
                }
              }
            }
          }
        }
      }
    },
    "/ai/generate-email": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Generate email content from brief",
        "operationId": "aiGenerateEmail",
        "x-status": "planned",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StripeMachinePayment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Generated content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Generate email content from brief. Current contract status: planned."
      }
    },
    "/ai/rewrite-for-email": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Rewrite post/blog content for email",
        "operationId": "aiRewriteForEmail",
        "x-status": "planned",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StripeMachinePayment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Rewrite result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Rewrite post/blog content for email. Current contract status: planned."
      }
    },
    "/ai/insights/campaign": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Generate campaign insights",
        "operationId": "aiCampaignInsights",
        "x-status": "planned",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StripeMachinePayment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Generate campaign insights. Current contract status: planned."
      }
    },
    "/sequences": {
      "get": {
        "tags": [
          "Sequences"
        ],
        "summary": "List sequences",
        "operationId": "listSequences",
        "x-status": "planned",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sequence list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "List sequences. Current contract status: planned."
      },
      "post": {
        "tags": [
          "Sequences"
        ],
        "summary": "Create sequence",
        "operationId": "createSequence",
        "x-status": "planned",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Sequence created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Create sequence. Current contract status: planned."
      }
    },
    "/sequences/{id}": {
      "get": {
[...]
