{
  "openapi": "3.1.0",
  "info": {
    "title": "SendyKit API",
    "version": "2.1.0-draft",
    "description": "Canonical API contract for SendyKit v2.\n\nStatus tags on operations:\n- x-status: live\n- x-status: partial\n- x-status: planned\n\nPayment model:\n- Stripe machine payments are the current machine-paid action mechanism.\n\nAgent contract reconciliation:\n- Tier and deployment availability are governed by Spec 50.\n- Agent system/harness/send governance is governed by Specs 59-65.\n- SaaS-only harness control-plane and branded-send provisioning surfaces are not customer-available in self-hosted builds unless Spec 50 is explicitly expanded.\n- Internal control-plane contracts may be specified in docs before public OpenAPI exposure; they do not count as public parity claims until routed and documented here.\n",
    "summary": "Sendy-compatible email operations API with SendyKit exoskeleton, SaaS controls, readiness evaluation, and machine-paid premium actions.",
    "contact": {
      "name": "SendyKit",
      "url": "https://sendykit.dev",
      "email": "support@sendykit.dev"
    },
    "license": {
      "name": "Commercial / source-available components as licensed",
      "url": "https://sendykit.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.sendykit.dev/sendykit/api/v2",
      "description": "Production"
    },
    {
      "url": "http://localhost:8082/sendykit/api/v2",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "AI",
      "description": "AI-assisted authoring, summaries, and marketing intelligence."
    },
    {
      "name": "Agent Runtime",
      "description": "Agent plan/execute/simulate primitives with policy guardrails. Runtime contract is refined by Specs 47 and 59-65; customer availability still follows Spec 50."
    },
    {
      "name": "Agent Send",
      "description": "Branded agent-send setup and provisioning surfaces. Public setup lifecycle is customer-visible; internal provisioning steps remain explicitly internal-only and SaaS-scoped per Specs 60 and 64."
    },
    {
      "name": "Agents",
      "description": "AI agent accounts, credits, and runtime-facing management surfaces. Availability and deployment scope follow Spec 50."
    },
    {
      "name": "Skills",
      "description": "First-class skill definitions and attachment lifecycle surfaces. Availability and deployment scope follow Specs 50 and 65."
    },
    {
      "name": "Analytics",
      "description": "Reporting, dashboards, exports, and recommendation endpoints."
    },
    {
      "name": "Assets",
      "description": "Managed media uploads for the editor and templating layer."
    },
    {
      "name": "Audit",
      "description": "Audit trail listing and purge endpoints."
    },
    {
      "name": "Auth",
      "description": "Token issuance and auth-adjacent entrypoints."
    },
    {
      "name": "Automations",
      "description": "Approval-oriented automation runs and workflow objects."
    },
    {
      "name": "Autoresponders",
      "description": "Legacy autoresponder inspection and email toggles."
    },
    {
      "name": "Billing",
      "description": "Plan catalog, tenant usage, receipts, payments, and Stripe webhooks. Payment rails do not create entitlement by themselves; agent/send gating follows Specs 50 and 59-65."
    },
    {
      "name": "Brands",
      "description": "Sendy app/brand identity and reusable content scope."
    },
    {
      "name": "Bridge",
      "description": "Simplified automation bridge for external systems."
    },
    {
      "name": "Campaigns",
      "description": "Campaign CRUD, delivery actions, and campaign-level reporting."
    },
    {
      "name": "Compliance",
      "description": "Cold compliance guardian \u2014 lead verification, policy evaluation, send preflight, and incident management."
    },
    {
      "name": "Connected Sites",
      "description": "WordPress sites connected via the SendyKit plugin."
    },
    {
      "name": "Core",
      "description": "Core compatibility surfaces."
    },
    {
      "name": "Credentials",
      "description": "Encrypted credential storage for API keys and secrets."
    },
    {
      "name": "Exa",
      "description": "Exa-powered research, search, and content retrieval integration."
    },
    {
      "name": "Funnels",
      "description": "Funnel CRUD and funnel analytics surfaces."
    },
    {
      "name": "Goals",
      "description": "Goal tracking events."
    },
    {
      "name": "Health",
      "description": "Doctor-style health scans and remediation history."
    },
    {
      "name": "Inbox",
      "description": "Inbox signals and notification subscriptions."
    },
    {
      "name": "Instantly",
      "description": "Instantly integration settings, sync, compliance, and webhooks."
    },
    {
      "name": "Lists",
      "description": "Sendy lists and custom-field discovery endpoints."
    },
    {
      "name": "Migration",
      "description": "Data migration utilities for switching platforms."
    },
    {
      "name": "Migrations",
      "description": "Migration & switching framework \u2014 import from Instantly, ActiveCampaign, Customer.io, Mailgun, Postmark, SES."
    },
    {
      "name": "Queue",
      "description": "Queue inspection and immediate processing."
    },
    {
      "name": "Readiness",
      "description": "Readiness evaluation, report retrieval, and inboarding recommendations."
    },
    {
      "name": "Reputation",
      "description": "Sender reputation scoring and monitoring."
    },
    {
      "name": "Routing",
      "description": "Cost & routing optimizer \u2014 policy-driven provider routing for deliverability, cost, and compliance."
    },
    {
      "name": "Rules",
      "description": "Sendy rules and logs."
    },
    {
      "name": "SMTP Pool",
      "description": "Managed multi-provider SMTP pool \u2014 send, test, health, and provider management."
    },
    {
      "name": "Segments",
      "description": "Segments, conditions, and refresh views."
    },
    {
      "name": "Sequences",
      "description": "Lifecycle automation sequences, steps, enrollments, and goals."
    },
    {
      "name": "Settings",
      "description": "Feature-flag driven platform settings and registry metadata."
    },
    {
      "name": "Subscribers",
      "description": "Subscriber CRUD, status transitions, bulk operations, imports, and lookup."
    },
    {
      "name": "Suppressions",
      "description": "Suppression checks and writes."
    },
    {
      "name": "System",
      "description": "Operator endpoints for runtime inspection, rollout, migration, DLQ, and transport."
    },
    {
      "name": "Tags",
      "description": "Tag CRUD plus subscriber-tag relationships."
    },
    {
      "name": "Templates",
      "description": "Email template CRUD, duplication, preview, and brand-scoped blocks."
    },
    {
      "name": "Tenants",
      "description": "SaaS tenant CRUD, API keys, and usage views."
    },
    {
      "name": "Transactional",
      "description": "Transactional email sending, templates, and message history."
    },
    {
      "name": "Webhooks",
      "description": "Outbound webhook subscriptions and manual trigger/testing."
    },
    {
      "name": "Workflows",
      "description": "Workflow automation: validate, simulate, plan, apply, rollback, and run traces."
    },
    {
      "name": "migrations",
      "description": "Domain migration and data import/export"
    },
    {
      "name": "analytics",
      "description": "Analytics intelligence and reporting"
    },
    {
      "name": "automation",
      "description": "Auto-action rules and execution"
    },
    {
      "name": "webhooks",
      "description": "Webhook events and delivery"
    },
    {
      "name": "settings",
      "description": "System and analytics settings"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "JwtAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "StripeMachinePayment": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Stripe-Machine-Payment"
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Required for send/enroll/trigger endpoints. 24h dedupe window."
      },
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "description": "1-indexed page number."
      },
      "PerPage": {
        "name": "per_page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 25
        },
        "description": "Items per page."
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "default": 50
        },
        "description": "Maximum number of records to return."
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        },
        "description": "Offset into result set."
      },
      "BrandIDQuery": {
        "name": "brand_id",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Brand/app identifier."
      },
      "ListIDQuery": {
        "name": "list_id",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "List identifier."
      },
      "EmailQuery": {
        "name": "email",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "format": "email"
        },
        "description": "Email address filter or lookup target."
      },
      "TenantIDQuery": {
        "name": "tenant_id",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Tenant identifier."
      },
      "StatusQuery": {
        "name": "status",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Status filter."
      },
      "SinceQuery": {
        "name": "since",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Relative duration or RFC3339 timestamp, depending on endpoint."
      },
      "Id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Numeric resource identifier."
      },
      "TenantID": {
        "name": "tenantId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Tenant identifier."
      },
      "ReportID": {
        "name": "reportId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Readiness report identifier."
      },
      "StepID": {
        "name": "stepId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Sequence step identifier."
      },
      "EnrollmentID": {
        "name": "enrollmentId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Sequence enrollment identifier."
      },
      "EmailID": {
        "name": "emailId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Autoresponder email identifier."
      },
      "JobID": {
        "name": "jobId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Outbound transport apply job identifier."
      },
      "Resource": {
        "name": "resource",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Audit resource name."
      },
      "ResourceID": {
        "name": "resourceId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Audit resource identifier."
      }
    },
    "schemas": {
      "Envelope": {
        "type": "object",
        "properties": {
          "data": {},
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ],
        "description": "Standard SendyKit response wrapper. Most successful responses place the primary payload in `data` and optional metadata in `meta`."
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "description": "Standard error payload returned by SendyKit handlers.",
        "example": {
          "error": "tenant_id required",
          "code": "invalid"
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "report_id": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "AuthTokenRequest": {
        "type": "object",
        "properties": {
          "api_key": {
            "type": "string"
          }
        },
        "required": [
          "api_key"
        ],
        "description": "Exchange an API key for a 24-hour JWT."
      },
      "AuthTokenData": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "required": [
          "token"
        ],
        "description": "Issued JWT token.",
        "example": {
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        }
      },
      "StatusObject": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "status": {
            "type": "string"
          },
          "deleted": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "additionalProperties": true
      },
      "Brand": {
        "type": "object",
        "description": "Sendy app/brand identity used for sender defaults and content scoping.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 7
          },
          "name": {
            "type": "string",
            "example": "Flagship SaaS"
          },
          "from_name": {
            "type": "string",
            "example": "SendyKit"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "hello@sendykit.dev"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "example": "support@sendykit.dev"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T01:15:00Z"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": true
      },
      "List": {
        "type": "object",
        "description": "Sendy list record.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 21
          },
          "name": {
            "type": "string",
            "example": "Product updates"
          },
          "app_id": {
            "type": "integer",
            "example": 7
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "subscriber_count": {
            "type": "integer",
            "example": 12842
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": true
      },
      "Subscriber": {
        "type": "object",
        "description": "Subscriber record with Sendy-compatible status fields.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1042
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane@example.com"
          },
          "name": {
            "type": "string",
            "example": "Jane Doe"
          },
          "list_id": {
            "type": "integer",
            "example": 21
          },
          "confirmed": {
            "type": "integer",
            "example": 1
          },
          "unsubscribed": {
            "type": "integer",
            "example": 0
          },
          "status": {
            "type": "string",
            "example": "confirmed"
          },
          "bounced": {
            "type": "integer",
            "example": 0
          },
          "bounce_soft": {
            "type": "integer",
            "example": 0
          },
          "complaint": {
            "type": "integer",
            "example": 0
          },
          "custom_fields": {
            "type": "string",
            "example": "{\"company\":\"Acme\"}"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "ip": {
            "type": "string",
            "example": "203.0.113.42"
          },
          "referrer": {
            "type": "string",
            "example": "https://sendykit.dev"
          },
          "timestamp": {
            "type": "integer",
            "example": 1710370980
          },
          "join_date": {
            "type": "integer",
            "example": 1710370980
          },
          "last_campaign": {
            "type": "integer",
            "example": 88
          }
        },
        "required": [
          "id",
          "email",
          "list_id"
        ],
        "additionalProperties": true
      },
      "Campaign": {
        "type": "object",
        "description": "Campaign record backed by Sendy campaign tables and SendyKit overlays.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 88
          },
          "app_id": {
            "type": "integer",
            "example": 7
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "title": {
            "type": "string",
            "example": "Launch week announcement"
          },
          "label": {
            "type": "string",
            "example": "launch-week"
          },
          "subject": {
            "type": "string",
            "example": "SendyKit launch week is live"
          },
          "sent": {
            "type": "string",
            "example": "0"
          },
          "status": {
            "type": "string",
            "example": "draft"
          },
          "from_name": {
            "type": "string",
            "example": "SendyKit"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "hello@sendykit.dev"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "example": "support@sendykit.dev"
          },
          "html": {
            "type": "string",
            "example": "<h1>Launch week</h1><p>We are live.</p>"
          },
          "plain_text": {
            "type": "string",
            "example": "Launch week\n\nWe are live."
          },
          "lists": {
            "type": "string",
            "example": "21,22"
          },
          "send_date": {
            "type": "string",
            "example": "2026-03-20 16:00:00"
          },
          "timezone": {
            "type": "string",
            "example": "America/Los_Angeles"
          },
          "recipients": {
            "type": "integer",
            "example": 12842
          },
          "to_send": {
            "type": "integer",
            "example": 12842
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": true
      },
      "Template": {
        "type": "object",
        "description": "Email template object with HTML, plain text, and optional GrapeJS document.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 14
          },
          "name": {
            "type": "string",
            "example": "Launch email base"
          },
          "html": {
            "type": "string",
            "example": "<h1>Hello {{fname}}</h1>"
          },
          "grapejs_data": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "assets": [],
              "styles": []
            }
          },
          "plain_text": {
            "type": "string",
            "example": "Hello {{fname}}"
          },
          "app_id": {
            "type": "integer",
            "example": 7
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "from_name": {
            "type": "string",
            "example": "SendyKit"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "hello@sendykit.dev"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "example": "support@sendykit.dev"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": true
      },
      "Webhook": {
        "type": "object",
        "description": "Outbound webhook subscription.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 9
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://ops.example.com/sendykit/webhooks"
          },
          "secret": {
            "type": "string",
            "example": "REDACTED_WEBHOOK_SECRET"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "campaign.sent",
              "subscriber.unsubscribed"
            ]
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          }
        },
        "required": [
          "id",
          "url",
          "events",
          "active"
        ],
        "additionalProperties": true
      },
      "FeatureFlag": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "default": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Tenant": {
        "type": "object",
        "description": "SaaS tenant record.",
        "properties": {
          "id": {
            "type": "string",
            "example": "tenant_01HZX8V4N5"
          },
          "name": {
            "type": "string",
            "example": "Acme Growth"
          },
          "slug": {
            "type": "string",
            "example": "acme-growth"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "owner@acme.test"
          },
          "status": {
            "type": "string",
            "example": "trial"
          },
          "plan": {
            "type": "string",
            "example": "growth"
          },
          "edd_customer_id": {
            "type": "string",
            "example": "edd_cus_123"
          },
          "stripe_customer_id": {
            "type": "string",
            "example": "cus_Q2abc123"
          },
          "stripe_subscription_id": {
            "type": "string",
            "example": "sub_Q2abc123"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "source": "launch"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:05:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:05:00Z"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "email",
          "status",
          "plan"
        ],
        "additionalProperties": true
      },
      "ReadinessEvaluateRequest": {
        "type": "object",
        "description": "Readiness evaluation questionnaire / scan payload.",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "questionnaire",
              "local_scan",
              "hybrid"
            ],
            "example": "questionnaire"
          },
          "technical": {
            "type": "object",
            "properties": {
              "compatibility": {
                "type": "integer",
                "example": 8
              },
              "database": {
                "type": "integer",
                "example": 8
              },
              "runtime": {
                "type": "integer",
                "example": 7
              },
              "cron": {
                "type": "integer",
                "example": 7
              },
              "dns": {
                "type": "integer",
                "example": 6
              },
              "transport": {
                "type": "integer",
                "example": 7
              },
              "filesystem": {
                "type": "integer",
                "example": 8
              },
              "security": {
                "type": "integer",
                "example": 7
              }
            },
            "additionalProperties": true
          },
          "commercial": {
            "type": "object",
            "properties": {
              "ownership_preference": {
                "type": "integer",
                "example": 9
              },
              "managed_preference": {
                "type": "integer",
                "example": 4
              },
              "ops_tolerance": {
                "type": "integer",
                "example": 7
              },
              "budget_sensitivity": {
                "type": "integer",
                "example": 5
              },
              "future_certainty": {
                "type": "integer",
                "example": 7
              },
              "planned_connected_sites": {
                "type": "integer",
                "example": 12
              },
              "planned_site_activations": {
                "type": "integer",
                "example": 6
              },
              "planned_subscribers": {
                "type": "integer",
                "example": 250000
              },
              "planned_emails_per_month": {
                "type": "integer",
                "example": 2000000
              },
              "planned_api_calls_per_month": {
                "type": "integer",
                "example": 500000
              },
              "needs_ai": {
                "type": "boolean",
                "example": true
              },
              "needs_automations": {
                "type": "boolean",
                "example": true
              },
              "needs_white_label": {
                "type": "boolean",
                "example": false
              },
              "needs_custom_domain": {
                "type": "boolean",
                "example": true
              },
              "needs_sso": {
                "type": "boolean",
                "example": false
              },
              "needs_sla": {
                "type": "boolean",
                "example": false
              },
              "needs_dedicated_ip": {
                "type": "boolean",
                "example": false
              }
            },
            "additionalProperties": true
          },
          "findings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "example": "dns"
                },
                "severity": {
                  "type": "string",
                  "enum": [
                    "blocker",
                    "warning",
                    "info",
                    "pass"
                  ],
                  "example": "warning"
                },
                "code": {
                  "type": "string",
                  "example": "spf_missing"
                },
                "title": {
                  "type": "string",
                  "example": "SPF record missing"
                },
                "detail": {
                  "type": "string",
                  "example": "No SPF record detected for the sender domain."
                },
                "docs_url": {
                  "type": "string",
                  "example": "https://docs.sendykit.dev/readiness/doctor"
                },
                "fix_command": {
                  "type": "string",
                  "example": "Add SPF TXT record in DNS"
                }
              },
              "required": [
                "category",
                "severity",
                "code",
                "title"
              ]
            }
          },
          "evaluated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:00:00Z"
          }
        },
        "required": [
          "mode",
          "technical",
          "commercial"
        ],
        "additionalProperties": true
      },
      "ReadinessReport": {
        "type": "object",
        "properties": {
          "evaluated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:00:00Z"
          },
          "mode": {
            "type": "string",
            "example": "questionnaire"
          },
          "score": {
            "type": "integer",
            "example": 82
          },
          "grade": {
            "type": "string",
            "example": "ready_with_warnings"
          },
          "dimensions": {
            "type": "object",
            "properties": {
              "technical": {
                "type": "integer",
                "example": 79
              },
              "commercial_fit": {
                "type": "integer",
                "example": 85
              },
              "self_hosted_fit": {
                "type": "integer",
                "example": 88
              },
              "saas_fit": {
                "type": "integer",
                "example": 62
              },
              "enterprise_fit": {
                "type": "integer",
                "example": 41
              }
            },
            "additionalProperties": true
          },
          "commercial_fit": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "recommended_model": "self_hosted",
              "recommended_plan": "growth",
              "confidence": 0.86,
              "reasons": [
                "Strong ownership preference",
                "Ops tolerance is sufficient"
              ]
            }
          },
          "risk": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "migration": "medium",
              "operational": "medium",
              "deliverability": "low"
            }
          },
          "findings": {
            "type": "object",
            "additionalProperties": true
          },
          "inboarding": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "mode": "self_hosted_fix_then_install",
              "title": "Fix DNS and cron before launch",
              "docs": [
                "https://docs.sendykit.dev/readiness/doctor"
              ],
              "commands": [
                "sendykit doctor"
              ],
              "steps": [
                "Fix SPF",
                "Verify cron"
              ],
              "cta": {
                "label": "Open docs",
                "url": "https://docs.sendykit.dev/readiness/doctor"
              }
            }
          }
        },
        "required": [
          "evaluated_at",
          "mode",
          "score",
          "grade",
          "dimensions",
          "commercial_fit",
          "risk",
          "findings",
          "inboarding"
        ],
        "additionalProperties": true
      },
      "BillingStatus": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          },
          "sendy": {
            "type": "object",
            "additionalProperties": true
          },
          "features": {
            "type": "object",
            "additionalProperties": true
          },
          "usage_context": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "checklist": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "insights": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "revenue": {
            "type": "object",
            "additionalProperties": true
          },
          "recent_payments": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "plans_count": {
            "type": "integer"
          }
        },
        "additionalProperties": true,
        "description": "Cross-system billing intelligence summary."
      },
      "DoctorReport": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "additionalProperties": true
          },
          "checks": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "fixes": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true,
        "description": "Health doctor report with summary, checks, and optional fixes."
      },
      "Sequence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "brand_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "trigger_type": {
            "type": "string"
          },
          "trigger_config": {
            "type": "object",
            "additionalProperties": true
          },
          "goal_type": {
            "type": "string"
          },
          "goal_config": {
            "type": "object",
            "additionalProperties": true
          },
          "goal_action": {
            "type": "string"
          },
          "settings": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "SequenceStep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sequence_id": {
            "type": "integer"
          },
          "step_type": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "SequenceEnrollment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sequence_id": {
            "type": "integer"
          },
          "subscriber_id": {
            "type": "integer"
          },
          "subscriber_email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "string"
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "list_id": {
            "type": "integer"
          },
          "app_id": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "Rule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "list_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "Autoresponder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "list_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "type_name": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ExaSettings": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "api_key": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "allow_domains": {
            "type": "string"
          },
          "deny_domains": {
            "type": "string"
          },
          "fresh_days": {
            "type": "integer"
          },
          "min_sources": {
            "type": "integer"
          },
          "min_confidence": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "InstantlySettings": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "api_key": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "webhook_secret": {
            "type": "string"
          },
          "webhook_signature_header": {
            "type": "string"
          },
          "interested_list_id": {
            "type": "integer"
          },
          "meeting_booked_list_id": {
            "type": "integer"
          },
          "customer_list_id": {
            "type": "integer"
          },
          "suppress_on_bounce": {
            "type": "boolean"
          },
          "enrichment_allowlist": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "SMTPApplyJob": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string"
          },
          "job_type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          },
          "dry_run": {
            "type": "boolean"
          },
          "set_mode_for_all": {
            "type": "boolean"
          },
          "resume_of": {
            "type": "string"
          },
          "rollback_of": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "started_at": {
            "type": "string"
          },
          "finished_at": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "applied": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "skipped": {
            "type": "integer"
          },
          "brand_results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "SMTPBounceSettings": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "soft_threshold": {
            "type": "integer"
          },
          "complaint_sets_unsubscribed": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "BridgeSequenceRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "sequence_id": {
            "type": "integer"
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "email",
          "sequence_id"
        ],
        "additionalProperties": true
      },
      "BrandUpsertRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Required by PUT /brands in compatibility mode.",
            "example": 7
          },
          "name": {
            "type": "string",
            "example": "Flagship SaaS"
          },
          "from_name": {
            "type": "string",
            "example": "SendyKit"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "hello@sendykit.dev"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "example": "support@sendykit.dev"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": true
      },
      "ListCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Product updates"
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "app_id": {
            "type": "integer",
            "example": 7
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": true
      },
      "SubscriberCreateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane@example.com"
          },
          "name": {
            "type": "string",
            "example": "Jane Doe"
          },
          "list_id": {
            "type": "integer",
            "example": 21
          },
          "custom_fields": {
            "oneOf": [
              {
                "type": "string",
                "example": "{\"company\":\"Acme\",\"plan\":\"growth\"}"
              },
              {
                "type": "object",
                "additionalProperties": true,
                "example": {
                  "company": "Acme",
                  "plan": "growth"
                }
              }
            ]
          }
        },
        "required": [
          "email",
          "list_id"
        ],
        "additionalProperties": true
      },
      "SubscriberBulkRequest": {
        "type": "object",
        "properties": {
          "list_id": {
            "type": "integer",
            "example": 21
          },
          "subscribers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriberCreateRequest"
            },
            "example": [
              {
                "email": "jane@example.com",
                "name": "Jane Doe"
              },
              {
                "email": "sam@example.com",
                "name": "Sam Rivera"
              }
            ]
          }
        },
        "required": [
          "list_id",
          "subscribers"
        ],
        "additionalProperties": true
      },
      "CampaignCreateRequest": {
        "type": "object",
        "properties": {
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "app_id": {
            "type": "integer",
            "example": 7
          },
          "title": {
            "type": "string",
            "example": "Launch week announcement"
          },
          "subject": {
            "type": "string",
            "example": "SendyKit launch week is live"
          },
          "html": {
            "type": "string",
            "example": "<h1>Launch week</h1><p>We are live.</p>"
          },
          "plain_text": {
            "type": "string",
            "example": "Launch week\n\nWe are live."
          },
          "lists": {
            "oneOf": [
              {
                "type": "string",
                "example": "21,22"
              },
              {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "example": [
                  21,
                  22
                ]
              }
            ]
          },
          "from_name": {
            "type": "string",
            "example": "SendyKit"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "hello@sendykit.dev"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "example": "support@sendykit.dev"
          },
          "send_date": {
            "type": "string",
            "example": "2026-03-20 16:00:00"
          },
          "timezone": {
            "type": "string",
            "example": "America/Los_Angeles"
          }
        },
        "additionalProperties": true
      },
      "CampaignBulkActionRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "send",
              "pause",
              "resume",
              "cancel"
            ],
            "example": "pause"
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              88,
              89,
              90
            ]
          }
        },
        "required": [
          "action",
          "ids"
        ]
      },
      "TemplateUpsertRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Launch email base"
          },
          "html": {
            "type": "string",
            "example": "<h1>Hello {{fname}}</h1>"
          },
          "grapejs_data": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "assets": [],
              "styles": []
            }
          },
          "plain_text": {
            "type": "string",
            "example": "Hello {{fname}}"
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "from_name": {
            "type": "string",
            "example": "SendyKit"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "hello@sendykit.dev"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "example": "support@sendykit.dev"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": true
      },
      "WebhookCreateRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://ops.example.com/sendykit/webhooks"
          },
          "secret": {
            "type": "string",
            "example": "REDACTED_WEBHOOK_SECRET"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "campaign.sent",
              "subscriber.unsubscribed"
            ]
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          }
        },
        "required": [
          "url",
          "events"
        ]
      },
      "TenantCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Acme Growth"
          },
          "slug": {
            "type": "string",
            "example": "acme-growth"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "owner@acme.test"
          },
          "plan": {
            "type": "string",
            "example": "growth"
          }
        },
        "required": [
          "name",
          "email"
        ],
        "additionalProperties": true
      },
      "TenantKeyCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "automation-worker"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "read",
              "write"
            ]
          },
          "rate_limit_rpm": {
            "type": "integer",
            "example": 120
          }
        },
        "additionalProperties": true
      },
      "Payment": {
        "type": "object",
        "description": "Campaign payment record.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 52
          },
          "campaign_id": {
            "type": "integer",
            "example": 88
          },
          "brand_id": {
            "type": "integer",
            "example": 7
          },
          "user_id": {
            "type": "integer",
            "example": 1
          },
          "tenant_id": {
            "type": "string",
            "example": "tenant_01HZX8V4N5"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "example": 49.0
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "gateway": {
            "type": "string",
            "example": "stripe"
          },
          "gateway_session_id": {
            "type": "string",
            "example": "cs_test_abc123"
          },
          "payment_token": {
            "type": "string",
            "example": "ZXlKcGJtY2lPaUpJVXpJMU5pSjkuLi4="
          },
          "token_consumed": {
            "type": "boolean",
            "example": true
          },
          "status": {
            "type": "string",
            "example": "completed"
          },
          "error_message": {
            "type": "string",
            "example": ""
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:15:00Z"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:16:00Z"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:30:00Z"
          }
        },
        "required": [
          "id",
          "campaign_id",
          "amount",
          "currency",
          "status"
        ],
        "additionalProperties": true
      },
      "MachinePaymentReceipt": {
        "type": "object",
        "description": "Machine-payment receipt record for Stripe-native machine-paid actions.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 801
          },
          "request_path": {
            "type": "string",
            "example": "/sendykit/api/v2/exa/research"
          },
          "request_method": {
            "type": "string",
            "example": "POST"
          },
          "price_usdc": {
            "type": "number",
            "format": "float",
            "example": 0.25
          },
          "payer_address": {
            "type": "string",
            "example": "0x1234abcd5678ef90"
          },
          "network": {
            "type": "string",
            "example": "base"
          },
          "settlement_tx": {
            "type": "string",
            "example": "0xbeefcafe1234"
          },
          "facilitator_response": {
            "type": "string",
            "example": "{\"status\":\"settled\"}"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-14T02:20:00Z"
          }
        },
        "required": [
          "id",
          "request_path",
          "request_method",
          "price_usdc",
          "created_at"
        ],
        "additionalProperties": true
      },
      "AuthTokenEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AuthTokenData"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ],
        "example": {
          "data": {
            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        }
      },
      "BrandEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Brand"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "BrandListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Brand"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "ListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/List"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "ListListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/List"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "SubscriberEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Subscriber"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "SubscriberListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscriber"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "CampaignEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Campaign"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "CampaignListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "TemplateEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Template"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "TemplateListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "WebhookEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Webhook"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "WebhookListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "TenantEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Tenant"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "TenantListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tenant"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "PaymentListEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "MachinePaymentReceiptEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "receipts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MachinePaymentReceipt"
                }
              },
              "total_usdc": {
                "type": "number"
              },
              "since": {
                "type": "string",
                "format": "date-time"
              },
              "receipt_count": {
                "type": "integer"
              }
            },
            "required": [
              "receipts",
              "total_usdc",
              "receipt_count"
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "BillingStatusEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BillingStatus"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "ReadinessReportEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ReadinessReport"
          },
          "meta": {
            "type": "object",
            "properties": {
              "report_id": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        },
        "required": [
          "data"
        ]
      },
      "DoctorReportEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DoctorReport"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data"
        ]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid authentication",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "Forbidden": {
        "description": "Authenticated but not permitted",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "PaymentRequired": {
        "description": "Machine payment required for premium action",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "Conflict": {
        "description": "Request conflicts with current state",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "InternalError": {
        "description": "Unexpected server-side error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        },
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "RateLimited": {
        "description": "Request was rate limited.",
        "headers": {
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rate_limited": {
                "value": {
                  "error": "rate limit exceeded",
                  "code": "rate_limited"
                }
              }
            }
          }
        }
      }
    },
    "examples": {
      "AuthTokenRequest": {
        "value": {
          "api_key": "REDACTED_API_KEY"
        }
      },
      "AuthTokenResponse": {
        "value": {
          "data": {
            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        }
      },
      "BrandCreateRequest": {
        "value": {
          "name": "Flagship SaaS",
          "from_name": "SendyKit",
          "from_email": "hello@sendykit.dev",
          "reply_to": "support@sendykit.dev"
        }
      },
      "BrandListResponse": {
        "value": {
          "data": [
            {
              "id": 7,
              "name": "Flagship SaaS",
              "from_name": "SendyKit",
              "from_email": "hello@sendykit.dev",
              "reply_to": "support@sendykit.dev"
            }
          ]
        }
      },
      "SubscriberCreateRequest": {
        "value": {
          "email": "jane@example.com",
          "name": "Jane Doe",
          "list_id": 21,
          "custom_fields": {
            "company": "Acme",
            "plan": "growth"
          }
        }
      },
      "CampaignCreateRequest": {
        "value": {
          "brand_id": 7,
          "title": "Launch week announcement",
          "subject": "SendyKit launch week is live",
          "html": "<h1>Launch week</h1><p>We are live.</p>",
          "plain_text": "Launch week\n\nWe are live.",
          "lists": [
            21,
            22
          ]
        }
      },
      "TemplateCreateRequest": {
        "value": {
          "name": "Launch email base",
          "brand_id": 7,
          "html": "<h1>Hello {{fname}}</h1>",
          "plain_text": "Hello {{fname}}"
        }
      },
      "WebhookCreateRequest": {
        "value": {
          "url": "https://ops.example.com/sendykit/webhooks",
          "secret": "REDACTED_WEBHOOK_SECRET",
          "events": [
            "campaign.sent",
            "subscriber.unsubscribed"
          ],
          "brand_id": 7
        }
      },
      "TenantCreateRequest": {
        "value": {
          "name": "Acme Growth",
          "slug": "acme-growth",
          "email": "owner@acme.test",
          "plan": "growth"
        }
      },
      "ReadinessEvaluateRequest": {
        "value": {
          "mode": "questionnaire",
          "technical": {
            "compatibility": 8,
            "database": 8,
            "runtime": 7,
            "cron": 7,
            "dns": 6,
            "transport": 7,
            "filesystem": 8,
            "security": 7
          },
          "commercial": {
            "ownership_preference": 9,
            "managed_preference": 4,
            "ops_tolerance": 7,
            "budget_sensitivity": 5,
            "future_certainty": 7,
            "planned_connected_sites": 12,
            "planned_site_activations": 6,
            "planned_subscribers": 250000,
            "planned_emails_per_month": 2000000,
            "planned_api_calls_per_month": 500000,
            "needs_ai": true,
            "needs_automations": true,
            "needs_custom_domain": true
          }
        }
      },
      "BillingStatusResponse": {
        "value": {
          "data": {
            "mode": "stripe_enabled",
            "mode_label": "Stripe enabled, enforcement off",
            "config": {
              "stripe": true,
              "payment_gateway": true,
              "webhook": true,
              "enforcement": false
            },
            "sendy": {
              "subscribers": 24000,
              "campaigns": 312,
              "brands": 4,
              "sub_users": 2
            },
            "plans_count": 4
          }
        }
      },
      "MachinePaymentReceiptResponse": {
        "value": {
          "data": {
            "receipts": [
              {
                "id": 801,
                "request_path": "/sendykit/api/v2/exa/research",
                "request_method": "POST",
                "price_usdc": 0.25,
                "payer_address": "0x1234abcd5678ef90",
                "network": "base",
                "settlement_tx": "0xbeefcafe1234",
                "created_at": "2026-03-14T02:20:00Z"
              }
            ],
            "total_usdc": 2.75,
            "receipt_count": 11
          }
        }
      },
      "ErrorInvalid": {
        "value": {
          "error": "list_id query param required",
          "code": "invalid"
        }
      }
    },
    "headers": {
      "RateLimit-Limit": {
        "description": "Maximum requests permitted in the current rate-limit window.",
        "schema": {
          "type": "integer",
          "example": 60
        }
      },
      "RateLimit-Remaining": {
        "description": "Requests remaining in the current window.",
        "schema": {
          "type": "integer",
          "example": 59
        }
      },
      "RateLimit-Reset": {
        "description": "Unix timestamp when the current rate-limit window resets.",
        "schema": {
          "type": "integer",
          "example": 1731000060
        }
      },
      "X-Request-ID": {
        "description": "Opaque request identifier for tracing and support.",
        "schema": {
          "type": "string",
          "example": "req_01J8R5H8XYZ"
        }
      }
    }
  },
  "paths": {
    "/agent/skills": {
      "get": {
        "summary": "List skill definitions",
        "tags": [
          "Skills"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "active",
                "deprecated",
                "retired"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skill definitions"
          }
        },
        "description": "Returns all skill definitions available to agents in the current tenant. Skills are reusable strategy templates that combine tool hints, prompts, and execution patterns. See Spec 65 for the skills contract."
      }
    },
    "/agent/skills/{id}": {
      "get": {
        "summary": "Get a skill definition",
        "tags": [
          "Skills"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skill definition"
          },
          "404": {
            "description": "Skill not found"
          }
        },
        "description": "Returns a single skill definition by ID, including its SKILL.md content, tool hints, and version metadata."
      }
    },
    "/agent/skills/attach": {
      "post": {
        "summary": "Attach a skill",
        "tags": [
          "Skills"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "skill_id",
                  "skill_version",
                  "attached_to_type",
                  "attached_to_id"
                ],
                "properties": {
                  "skill_id": {
                    "type": "string"
                  },
                  "skill_version": {
                    "type": "string"
                  },
                  "attached_to_type": {
                    "type": "string",
                    "enum": [
                      "agent",
                      "run",
                      "schedule_template"
                    ]
                  },
                  "attached_to_id": {
                    "type": "integer"
                  },
                  "inputs": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Skill attachment created"
          }
        },
        "description": "Attaches a skill bundle to an agent. The skill's tool hints become available to the agent during runs, narrowing (never widening) the agent's existing tool grants. See Spec 59 \u00a76.5."
      }
    },
    "/agent/skills/detach": {
      "post": {
        "summary": "Detach a skill attachment",
        "tags": [
          "Skills"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "attachment_id"
                ],
                "properties": {
                  "attachment_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Skill attachment detached"
          }
        },
        "description": "Detaches a skill bundle from an agent. The agent loses access to the skill's tool hints and execution patterns."
      }
    },
    "/agent/skills/validate": {
      "post": {
        "summary": "Validate a skill attachment",
        "tags": [
          "Skills"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "attachment_id"
                ],
                "properties": {
                  "attachment_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Skill attachment validation result"
          }
        },
        "description": "Validates a skill definition without attaching it. Checks SKILL.md syntax, tool hint references, and version compatibility."
      }
    },
    "/agent/runs": {
      "get": {
        "summary": "List canonical agent runs",
        "tags": [
          "Agent Runtime"
        ],
        "responses": {
          "200": {
            "description": "Canonical agent runs for the current tenant"
          }
        },
        "description": "Returns canonical agent runs for the current tenant. Each run represents one orchestrated attempt to accomplish a goal \u2014 from planning through execution to completion or failure. See Spec 59 \u00a76.2."
      }
    },
    "/agent/runs/{id}": {
      "get": {
        "summary": "Get a canonical agent run",
        "tags": [
          "Agent Runtime"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical agent run"
          },
          "404": {
            "description": "Run not found"
          }
        },
        "description": "Returns a single agent run with full metadata: goal, entrypoint, status, cost tracking, approval state, and checkpoint references."
      }
    },
    "/agent/runs/{id}/actions": {
      "get": {
        "summary": "List canonical actions for a run",
        "tags": [
          "Agent Runtime"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical run actions"
          }
        },
        "description": "Returns the ordered list of actions (steps) within a run. Each action has a type, tool reference, status, input/output payloads, and timing data."
      }
    },
    "/agent/runs/{id}/approvals": {
      "get": {
        "summary": "List canonical approvals for a run",
        "tags": [
          "Agent Runtime"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical run approvals"
          }
        },
        "description": "Returns approval requests for a run. When an agent's action requires human approval (per the agent's approval policy), it creates an approval request that must be resolved before the run continues."
      }
    },
    "/agent/artifacts": {
      "get": {
        "summary": "List artifacts for a run",
        "tags": [
          "Agent Runtime"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "run_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical run artifacts"
          }
        },
        "description": "Returns artifacts produced by a run. Artifacts are versioned output objects (reports, drafts, summaries) with type, payload, and checksum."
      }
    },
    "/agent/artifacts/latest": {
      "get": {
        "summary": "Get latest artifact by type for a run",
        "tags": [
          "Agent Runtime"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "run_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "artifact_type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest artifact"
          },
          "404": {
            "description": "Artifact not found"
          }
        },
        "description": "Returns the latest artifact of a given type for a run. Useful for getting the most recent draft or summary without listing all artifacts."
      }
    },
    "/agent/checkpoints": {
      "get": {
        "summary": "Get latest checkpoint for a run",
        "tags": [
          "Agent Runtime"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "run_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest checkpoint"
          },
          "404": {
            "description": "Checkpoint not found"
          }
        },
        "description": "Returns the latest checkpoint for a run. Checkpoints capture the run's resumable state \u2014 step position, serialized context, and resume token."
      }
    },
    "/agent/checkpoints/resolve": {
      "get": {
        "summary": "Resolve a resume token to a checkpoint",
        "tags": [
          "Agent Runtime"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "resume_token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkpoint resolved from resume token"
          },
          "404": {
            "description": "Checkpoint not found"
          }
        },
        "description": "Resolves a resume token to its checkpoint. Used to restore a run's state from a previously issued resume token."
      }
    },
    "/agent/approvals/{id}/resolve": {
      "post": {
        "summary": "Resolve an approval request",
        "tags": [
          "Agent Runtime"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "rejected",
                      "cancelled"
                    ]
                  },
                  "resolved_by": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approval resolved"
          }
        },
        "description": "Resolves a pending approval request by approving, rejecting, or cancelling it. The resolved_by field records who made the decision. Rejected approvals halt the run."
      }
    },
    "/agent-send/setups": {
      "post": {
        "summary": "Create branded-send setup",
        "description": "Create a new SaaS branded-send provisioning setup for an agent lane.",
        "tags": [
          "Agent Send"
        ],
        "x-status": "live",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Setup created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/agent-send/setups/{id}": {
      "get": {
        "summary": "Get branded-send setup",
        "description": "Fetch setup state plus slot, DNS, verification, task, and smoke details.",
        "tags": [
          "Agent Send"
        ],
        "x-status": "live",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Setup details"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agent-send/setups/{id}/pause": {
      "post": {
        "summary": "Suspend branded-send setup",
        "tags": [
          "Agent Send"
        ],
        "x-status": "live",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Setup suspended"
          }
        },
        "description": "Pauses a branded agent-send setup. The agent retains its sender domain but cannot send until resumed. Provide an optional reason for audit.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for the action"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent-send/setups/{id}/resume": {
      "post": {
        "summary": "Resume branded-send setup",
        "tags": [
          "Agent Send"
        ],
        "x-status": "live",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Setup resumed"
          }
        },
        "description": "Resumes a paused branded agent-send setup, restoring the agent's ability to send through its verified sender domain.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for the action"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent-send/setups/{id}/revoke": {
      "post": {
        "summary": "Revoke branded-send setup",
        "tags": [
          "Agent Send"
        ],
        "x-status": "live",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Setup revoked"
          }
        },
        "description": "Permanently revokes a branded agent-send setup. The sender domain and associated DNS records are decommissioned. This action cannot be undone.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for the action"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal/agent-send/setups/{id}/reserve-slot": {
      "post": {
        "summary": "Reserve branded-send slot inventory",
        "description": "Internal SaaS-only provisioning step. Not a public customer parity surface.",
        "tags": [
          "Agent Send"
        ],
        "x-status": "live",
        "x-internal": true,
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Slot reservation recorded"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for the action"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal/agent-send/setups/{id}/provision-brand": {
      "post": {
        "summary": "Record branded-send brand provisioning",
        "description": "Internal SaaS-only provisioning step. Not a public customer parity surface.",
        "tags": [
          "Agent Send"
        ],
        "x-status": "live",
        "x-internal": true,
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sendy_brand_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provisioning recorded"
          }
        }
      }
    },
    "/internal/agent-send/setups/{id}/apply-dns": {
      "post": {
        "summary": "Attach branded-send DNS requirements",
        "description": "Internal SaaS-only provisioning step. Not a public customer parity surface.",
        "tags": [
          "Agent Send"
        ],
        "x-status": "live",
        "x-internal": true,
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "records"
                ],
                "properties": {
                  "records": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DNS requirements recorded"
          }
        }
      }
    },
    "/internal/agent-send/setups/{id}/verify": {
      "post": {
        "summary": "Record branded-send verification check",
        "description": "Internal SaaS-only provisioning step. Not a public customer parity surface.",
        "tags": [
          "Agent Send"
        ],
        "x-status": "live",
        "x-internal": true,
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "check_type",
                  "status"
                ],
                "properties": {
                  "check_type": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "details": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result recorded"
          }
        }
      }
    },
    "/internal/agent-send/setups/{id}/smoke": {
      "post": {
        "summary": "Record branded-send smoke result",
        "description": "Internal SaaS-only provisioning step. Not a public customer parity surface.",
        "tags": [
          "Agent Send"
        ],
        "x-status": "live",
        "x-internal": true,
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "checks": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Smoke result recorded"
          }
        }
      }
    },
    "/internal/agent/leases/issue": {
      "post": {
        "summary": "Issue run-bound capability lease",
        "description": "Internal security primitive. Not a public customer parity surface.",
        "tags": [
          "Agent Runtime"
        ],
        "x-status": "live",
        "x-internal": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "run_id",
                  "session_id",
                  "agent_id",
                  "tool_id",
                  "scope",
                  "expires_at"
                ],
                "properties": {
                  "run_id": {
                    "type": "integer"
                  },
                  "session_id": {
                    "type": "string"
                  },
                  "agent_id": {
                    "type": "integer"
                  },
                  "tool_id": {
                    "type": "string"
                  },
                  "scope": {
                    "type": "string"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "max_uses": {
                    "type": "integer"
                  },
                  "secret_bearing": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lease issued"
          }
        }
      }
    },
    "/internal/agent/leases/revoke": {
      "post": {
        "summary": "Revoke capability lease",
        "description": "Internal security primitive. Not a public customer parity surface.",
        "tags": [
          "Agent Runtime"
        ],
        "x-status": "live",
        "x-internal": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "lease_id"
                ],
                "properties": {
                  "lease_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lease revoked"
          }
        }
      }
    },
    "/internal/agent/harness/launch": {
      "post": {
        "summary": "Launch harness session for run",
        "description": "Internal SaaS-only control-plane route between Go core and Loader Worker.",
        "tags": [
          "Agent Runtime"
        ],
        "x-status": "live",
        "x-internal": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Launch accepted"
          }
        }
      }
    },
    "/internal/agent/harness/resume": {
      "post": {
        "summary": "Resume harness session for run",
        "description": "Internal SaaS-only control-plane route between Go core and Loader Worker.",
        "tags": [
          "Agent Runtime"
        ],
        "x-status": "live",
        "x-internal": true,
[...]
